
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<head>
  <meta charset="UTF-8">
  <title>Post offer Page</title>
</head>
<body>
<h1>Post offer</h1>
<a href="http://localhost:8080/postOffer?lang=ro">Romana</a>
<a href="http://localhost:8080/postOffer?lang=ru">Русский</a>


<form action="#" th:action="@{/postOffer}" th:object="${post}" method="post">
  <p th:text="#{name}"/> <input type="text" th:field="*{title}" />
  <p th:text="#{description}"/> <input type="text" th:field="*{description}" />
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>