<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tempalte</title>
</head>
<body>
<h1>Welcome to rent tool application</h1>
<p th:text="${message}"></p>
<a href="http://localhost:8080/postOffer?lang=ro">Romana</a>
<a href="http://localhost:8080/postOffer?lang=ru">Русский</a>

<a href="http://localhost:8080/login"
  th:text="#{welcome.login}"/>
<a href="http://localhost:8080/register"
   th:text="#{welcome.register}"/>
</body>
<form action="/logout" method="post">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  <input type="submit" value="Sign Out"/>
</form>
</html>